.container {
  width: 70%;
  margin: 2px auto auto auto;
  text-align: center;
}

.dice {
  padding-top: 20px;
  text-align: center;
  display: inline-block;

}

body {
  background-color: #eeebdd;
}

h1 {
  margin: 25px;
  font-family: 'Zen Dots', cursive;
  text-shadow: 3px 0 #1b1717;
  font-size: 4rem;
  color: #ce1212;
}

p {
  font-size: 1.3rem;
  color: #1b1a17;
  font-family: 'Montserrat', sans-serif;
  
}

img {
  width: 80%;
}

footer {
  margin: 8% 0 0 0;
  color: #1b1717;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}
